<% if flash[:notice] %>

  <div class='flash_wrap flash_notice'>
    <%= flash[:notice] %>
  </div>

<% elsif flash.now[:alert] %>

  <div class='flash_wrap flash_alert'>
    <%= flash.now[:alert] %>
  </div>

<% elsif flash[:alert] %>

  <div class='flash_wrap flash_alert'>
    <%= flash[:alert] %>
  </div>

<% end %>
